body{
	width: 100%;
	min-width: 700px;
	overflow-x: hidden;
}
.wrapper {
	position: relative;
}

.wrapper div {
	width: 100%;
	text-align: center;
	color: #fff;
}

.top_bar_fix {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
}

.pd_bar_80 {
	padding-top: 80px;
}

.wrapper .top_bn_zone{
	font: monospace;
	color: #F2F2F2;
	font-size: 40px;
	height: 100px;
	line-height: 100px;
	background: url(../images/bnBackground.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-shadow: 0 0 5px black;
	-moz-text-shadow: 0 0 5px black;
	-webkit-text-shadow: 0 0 5px black;
}

.wrapper .top_fix_zone {
	height: 80px;
	background: #DEDEDE;
	text-shadow: 0 0 5px black;
	font-size: 20px;
	-moz-text-shadow: 0 0 5px black;
	-webkit-text-shadow: 0 0 5px black;
}

.wrapper .top_con_zone {
	height: 1500px;
	background: #ededed;
	color: #888;
	text-align: center;
	font-size: 70px;
}

.wrapper .bottom_cp_zone {
	background: #ededed;
	height: 20px;
	color: #888;
	bottom: 0;
	width: 100%;
	height: 20px;
	position: fixed;
	display: none;
	margin: 0;
}

.logout,.post,.search,.recommended,.user,.home{
	float: right;
	margin-top: 30px;
	margin-right: 15px;
}

.logout{
	margin-right: 50px;
}

.weather{
	float:left;
	margin-top: 7px;
	margin-left: 50px;
	display: inline-block;
	width: 70px;
	font-size: 8px;
}



figure{
	margin:0px;
}

figcaption{
	height: 6px;
}

.link{
	position: relative;
}

.link a{
	color: #fff;
	text-decoration: none;
}

#holder img{
	max-width: 100%;
	width: 550px;
}