/* Showing post layout css */
.postWrapper {
	position: relative;
	margin-top: 25px;
}

#layerSearch {
	border: 1px solid #ededed;
	position: relative;
	margin: 0 auto;
	left: 10px;
	right: 10px;
	width: 650px;
	display: block;
	border-radius: 5px;
	text-align: left;
	background-color: #fff;
	font-size: 20px;
}

#layerSearch .search-input{
	width: 550px;
	line-height: 50px;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 30px;
	text-align: left;
	color: black;
	border-radius: 5px 5px 0 0;
}

#layerSearch .search-for{
	width: 550px;
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;
	line-height: 30px;
	font-size: 18px;
	text-align: left;
	color: black;
	border-radius: 5px 5px 0 0;
}

#layerSearch .search .search-by{
	cursor: pointer;
}


#layerUser {
	border: 1px solid #ededed;
	position: relative;
	margin: 0 auto;
	left: 10px;
	right: 10px;
	width: 650px;
	display: block;
	border-radius: 5px;
	text-align: left;
	background-color: #fff;
	font-size: 20px;
}

#layerUser .user-menu{
	width: 550px;
	line-height: 50px;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 30px;
	text-align: left;
	color: black;
	border-radius: 5px 5px 0 0;
}

#layerUser .member-modify{
	width: 550px;
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 15px;
	color: black;
	border-radius: 5px 5px 0 0;
	display: none;
}

#layerUser .member-modify .button-member-modify-ok{
	border-radius: 8px;
	border: 0;
	margin-left: 6px;
	padding: 0;
	width: 35px; 
	height: 25px;
	font-size: 13px;
	cursor: pointer;
}

#layerUser .member-modify .button-member-modify-cancel{
	border-radius: 8px;
	border: 0;
	margin-left: auto;
	padding: 0;
	width: 35px; 
	height: 25px;
	font-size: 13px;
	cursor: pointer;
}

#layerUser .member-derag{
	width: 550px;
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 20px;
	color: black;
	border-radius: 5px 5px 0 0;
	display: none;
}

#layerUser .member-derag button{
	border-radius: 8px;
	border: 0;
	margin-left: auto;
	padding: 0;
	width: 35px; 
	height: 25px;
	font-size: 13px;
	cursor: pointer;
}

#layerUser .user-menu .button-member-modify{
	border-radius: 10px;
	border: 0;
	margin-top: 10px;
	margin-right: 5px;
	padding: 0;
	width: auto; 
	height: 30px;
	float: right;
	font-size: 13px;
	cursor: pointer;
}

#layerUser .user-menu .button-member-exit{
	border-radius: 10px;
	border: 0;
	margin-top: 10px;
	margin-right: 5px;
	padding: 0;
	width: auto; 
	height: 30px;
	float: right;
	font-size: 13px;
	cursor: pointer;
}

#layerUser .user-info{
	width: 550px;
	height: 50px;
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 50px;
	line-height: 30px;
	font-size: 18px;
	text-align: left;
	color: black;
	border-radius: 5px 5px 0 0;
}

#layerUser .user-info .user-style{
	cursor: pointer;
}

#layerUser .user-info .search-user-post{
	font-size: 12px;
	float: right;
}

#layerUser .user-info .search-user-post .search-userpost-btn{
	border-radius: 8px;
	border: 0;
	margin-left: 6px;
	padding: 0;
	width: 45px; 
	height: 30px;
	float: right;
	font-size: 13px;
	cursor: pointer;
}

#layerPost {
	position: relative;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	margin: 0 auto;
	width: 650px;
	height: 100%;
	display: block;
	border: 1px solid #ededed;
	border-radius: 5px;
	font-size: 40px;
}

#layerPost .header-post {
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color: black;
	background-color: #fff;
	border-radius: 5px 5px 0 0;
}

#layerPost .header-post .writer{
	position: absolute;
	top: 5px;
	left: 50px;
	cursor: pointer
}

#layerPost .header-post .writeday {
	position: absolute;
	top: 5px;
	right: 50px;
}

#layerPost .layer-post-containers {
	top: 50px;
	right: 0;
	bottom: 0;
	left: 0;
}

#layerPost .layer-post-containers .inner-post {
	height: 100%;
	background-color: #fff;
	border-radius: 0 0 5px 5px;
}

#layerPost .layer-post-containers .box-post {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 20px 0;
	font-size: 20px;
	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

#layerPost .layer-post-containers .box-post img{
	max-width: 100%;
	width: 550px;
}

#layerPost .layer-post-containers .box-post div{
	display: block;
	psition: relative;
	left: 50px;
	right: 50px;
	color: black;
}

#layerPost .layer-post-containers .box-post .img{
	width: 100%;
	height: 100%;
	margin-left: 0;
}

#layerPost .layer-post-containers .box-post .content-modify{
	width: 550px;
	height: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 50px;
	margin-right: 50px;
	padding: 0;
	text-align: center;
	font-size: 18px;
	display: none;
}

#layerPost .layer-post-containers .box-post .content-modify p{
	margin: 0;
}

#layerPost .layer-post-containers .box-post .content-modify .textarea-modify-content{
	width: 550px;
	height: 80px;
	border: 0.1px solid black;
	margin: 0;
	padding: 0;
}

#layerPost .layer-post-containers .box-post .postmenu .button-modify-content{
	border-radius: 5px;
	border: 0;
	margin: 0;
	padding: 0;
	width: 35px; 
	height: 20px;
	float: right;
	margin-right: 2px;
	font-size: 9px;
	cursor: pointer;
}

#layerPost .layer-post-containers .box-post .postmenu .close-modify-content{
	border-radius: 5px;
	border: 0;
	margin: 0;
	padding: 0;
	width: 35px; 
	height: 20px;
	float: right;
	margin-right: 2px;
	font-size: 9px;
	cursor: pointer;
}

#layerPost .layer-post-containers .box-post .content{
	width: 550px;
	height: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 50px;
	margin-right: 50px;
	padding: 0;
	text-align: left;
	font-size: 20px;
}

#layerPost .layer-post-containers .box-post .content p{
	margin: 10px 0 0 0;
	padding: 0px;
	font-size: 18px;
}

#layerPost .layer-post-containers .box-post .content .category{
	text-align: right;
	font-size: 20px;
}

#layerPost .layer-post-containers .box-post .content .category .style{
	cursor: pointer;
}

#layerPost .layer-post-containers .box-post .content .hashtag{
	color: blue;
	cursor: pointer;
}

#layerPost .layer-post-containers .box-post .postmenu{
	width: 550px;
	height: 20px;
	margin-top: 0;
	margin-bottom: 5px;
	margin-left: 50px;
	margin-right: 50px;
	padding: 0;
}

#layerPost .layer-post-containers .box-post .postmenu span{
	font-size: 16px;
	cursor: pointer;
}

#layerPost .layer-post-containers .box-post .postmenu .modify{
	float: right;
	margin-right: 5px;
}

#layerPost .layer-post-containers .box-post .postmenu .delete{
	float: right;
}

#layerPost .layer-post-containers .box-post .submenu{
	width: 550px;
	height: 20px;
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: 50px;
	margin-right: 50px;
	padding: 0;
}

#layerPost .layer-post-containers .box-post .submenu > span{
	cursor: pointer;
}

#layerPost .layer-post-containers .box-post .submenu span{
	font-size: 15px;
}

#layerPost .layer-post-containers .box-post .submenu .like{
	float: left;
}

#layerPost .layer-post-containers .box-post .submenu .showComments{
	float: right;
}

#layerPost .layer-post-containers .box-post .no-comment{
	font-size: 16px;
}

#layerPost .layer-post-containers .box-post .box-comment{
	width: 550px;
	height: 100%;
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: 50px;
	margin-right: 50px;
	padding: 0;
	display: none;
}

#layerPost .layer-post-containers .box-post .box-comment .comments{
	list-style: none;
	margin: 0px;
	padding-left: 0px;
	height: 100%;
}

#layerPost .layer-post-containers .box-post .box-comment .comments .list-comment{
	margin-top: 0;
	margin-bottom: 2px;
	margin-left: 0;
	margin-right: 0;
	height: 22px;
	text-align: left;
	border: 0.1px dotted black;
	width:382;
}

#layerPost .layer-post-containers .box-post .box-comment .comments .list-comment span{
	font-size: 15px;
}

#layerPost .layer-post-containers .box-post .box-comment .comments .list-comment .writer-id{
	display: inline-block;
	width: 40px;
	margin-right: 25px;
	margin-left: 5px;
	cursor: pointer
}

#layerPost .layer-post-containers .box-post .box-comment .comments .list-comment .comment .hashtag{
	color: blue;
	cursor: pointer;
}

#layerPost .layer-post-containers .box-post .box-comment .comments .list-comment .commentdelete{
	float: right;
	margin-right: 5px;
	font-size: 10px;
	cursor: pointer;
}

#layerPost .layer-post-containers .box-post .box-comment .comments .list-comment .commentmodify{
	float: right;
	margin-right: 5px;
	font-size: 10px;
	cursor: pointer;
}

#layerPost .layer-post-containers .box-post .box-comment .comments .list-comment input[type="text"]{
	position: relative;
	width: 380px;
	heiht: 20px;
	border: 0.1px solid black;
	margin: 0px;
	padding: 0px;
	font-size: 16px;
}

#layerPost .layer-post-containers .box-post .box-comment .comments .list-comment .button-commentmodify{
	border-radius: 5px;
	border: 0;
	margin: 0;
	padding: 0;
	width: 50px; 
	height: 20px;
	float: right;
	margin-right: 2px;
	font-size: 9px;
	cursor: pointer;
}

#layerPost .layer-post-containers .box-post .box-comment .comments .list-comment .button-commentmodifycancel{
	border-radius: 5px;
	border: 0;
	margin: 0;
	padding: 0;
	width: 25px; 
	height: 20px;
	float: right;
	margin-right: 2px;
	font-size: 9px;
	cursor: pointer;
}

#layerPost .layer-post-containers .box-post .box-form{
	width: 550px;
	height: 100%;
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: 50px;
	margin-right: 50px;
	padding: 0;
	text-align: left;
}

#layerPost .layer-post-containers .box-post .box-form .textarea-comment{
	border: 0.1px solid #ededed;
	margin: 0;
	padding: 0;
	width: 550px;
	height: 50px;
}

#layerPost .layer-post-containers .box-post .box-form button{
	border-radius: 10px;
	border: 0;
	margin-top: 10px;
	margin-right: 0;
	padding: 0;
	width: 70px; 
	height: 30px;
	float: right;
	font-size: 13px;
	cursor: pointer;
}